<ion-view style="" id="page3" title="About">

    <ion-content class="has-header" padding="true">

        <div class="list pro_list">
        

<a class="item" ui-sref="menu.aboutus">

   

   About us

    <i class="pro_iconr ion-ios-arrow-right"></i>

  </a>
<a class="item" ui-sref="menu.contactus">

  

Contact us

    <i class="pro_iconr ion-ios-arrow-right"></i>

  </a>

  <a class="item" ui-sref="menu.pp">

    

   Privacy Policy

    <i class="pro_iconr ion-ios-arrow-right"></i>

  </a>
   <a class="item" ui-sref="menu.dp">

   

  Delivery Policy

    <i class="pro_iconr ion-ios-arrow-right"></i>

  </a>
 <a class="item" ui-sref="menu.faq">



  FAQ

    <i class="pro_iconr ion-ios-arrow-right"></i>

  </a>


</div>


        

    </ion-content>

</ion-view>