

<ion-view style="" id="page3" title="{{static.title}}">

    <ion-content class="has-header" padding="true">
        
        <div class="card" style="margin: 0; padding: 15px;">
        <h4> FAQ</h4>
        <h5>WHAT IS A PLAIT MEAL SUBSCRIPTION?</h5>

        <p>A meal plan set up to increase the efficiency of young, productive individuals by accommodating their busy schedule.</p>

<h5>HOW MUCH DOES DELIVERY COST?</h5>
<p>The cost delivery is included in the subscription cost and so it’s free.</p>


<h5>WHAT ARE THE DELIVERY TIMES?</h5>
<p><b>Lunch:</b> 12h00 – 14h00  </p>                                                                         
<p><b>Dinner:</b> 17h00-20h00</p>


<h5>WHAT HAPPENS IF I AM NOT AVAILABLE TO COLLECT MY MEALS?</h5>
<p>If a subscriber is unavailable to collect his/her Plait, it is advised that they contact a 3rd party to collect the Plait on their behalf. Upon receipt the 3rd party will be required to present a valid copy of the subscribers’ ID or Valid Drivers’ license.

If the subscriber is unavailable to collect the Plait and does not contact a 3rd party to do so on his/her behalf within the allocated delivery times, the subscribers Plait will be forfeited </p>

<h5>WHY DO MY MEALS ARRIVE CHILLED?</h5>
<p>The meals a delivered chilled as this keeps the meals fresher for longer and provides you with the opportunity to eat the meal at a time most convenient to you.</p>

<h5>CAN I SELECT MY OWN MEALS FROM THE VARIETY PROVIDED?</h5>
<p>Subscribers can pick 1 meal of choice from the 4 options provided on a daily basis.</p>


<h5>WHAT IS THE PLAITERS CAMPAIGNE</h5>
<p>The Ultimate Plaiters’ Campaign is a competition run by Plait which allows subscribers to win prices through getting their peers to subscribe. See THE ULTIMATE PLAITERS CAMPAIGNE for further details </p>


<h5>HOW DO I MAKE PAYMENTS?</h5>
<p>A variety of payment options are available, this includepayments through all Mastercard and Visa cards </p>

<h5>WHICH SUBSCRIPTION PLAN IS SUITABLE FOR ME</h5>
<p>The lifestyle plan offers you 20 supper meals per month while the lifestyle PLUS  plan offers you 20 lunch meals and 20supper meals per month.
You can pick one subscription plan or the other based on your individual needs and budget.</p>



<h5>HOW DO I SWITCH MY SUBSCRIPTION PLAN?</h5>
<p>To switch subscription plans, refer to the side bar on the main menu and select the CHANGE SUBSCRIPTION option </p>

<h5>HOW DO I CANCEL DELIVERY?</h5>
<p>There is no need to cancel deliveries as all meals not collected are automatically forfeited and donated to a charity within delivery proximity.</p>

<h5>HOW DO I CHANGE MY DELIVERY TIMES?</h5>
<p>Subscribers are given until 24 hours before delivery day to change their delivery location and delivery times in order to accommodate their preferences</p>

<h5>WHAT IS A PLAITER</h5>
 <p>A Plaiter is an individual who assures that the meal you order is safely delivered to your door.</p>


 <h5>HOW DO I CANCEL MY SUBSCRIPTION?</h5>
 <p>A user simply does not renew their subscription at the end of the month </p>


        
        
        

        <div class="list pro_list">

{{static.description}}


</div>
        </div>
        

    </ion-content>

</ion-view>