<ion-view style="" id="page2" title="Forget Password">

    <ion-content class="has-header" padding="true">

        

        <div>

            <img style="display: block; margin-left: auto; margin-right: auto;" src="img/logo3.png" height="auto" width="118px">

        </div>

        

        <form class="list" id="signIn-form1" name="form" ng-submit="form.$valid && forgetpass()" novalidate>

            <label id="createProfile-input4" class="item-input input_border">

                <input placeholder="Email Address" type="text" ng-model="data.email">

            </label>

            <div class="custom_padding">

            <button type="submit" class="button button_purpel  button-block" style="border-radius:0px 0px 0px 0px;" id="createProfile-button2" >Forget Password</button>

            </div>

        </form>
        <button class="button button-dark button_txt button-block button-clear" id="createProfile-button3" ui-sref="menu.createProfile">New User ? <span>Sign Up</span></button>
         <button class="button button-dark button_txt button-block button-clear" id="createProfile-button3" ui-sref="menu.signin">Sign In</button>
    </ion-content>

</ion-view>