<ion-view style="" id="page3" title="Invite Friends">

    <ion-content class="has-header" padding="true">

    

    	<div class="profile">

        	

            <h5>{{User.mine}}</h5>

          
        </div>

    

    

        <div style="width: 283px; height: 83px;" class="spacer"></div>

      
       <div class="list pro_list">
  <a class="item" ng-click="share()">

    <i class="pro_icon fa fa fa-users"></i>

    Invite to Friends

    <i class="pro_iconr ion-ios-arrow-right"></i>

  </a>


</div>

        

    </ion-content>

</ion-view>