<ion-view view-title="Meal Detail" hide-nav-bar="true">


<div class="bar bar-header">
  <a class="button button-icon icon ion-ios-arrow-back" ui-sref="menu.weekly" ></a>
  <div class="h1 title">Meal Detail </div>
</div>



    <ion-content style="background:#fff; top:0;" class="has-header" padding="false">



    <div class="list" style="margin-bottom:0;">

        

    <div class="item padding_0">

      <div class="img_boxed">

      	<img src="http://ashutosh.crystalbiltech.com/plait/webroot/product/{{one.image}}">

        <!--<div class="bootom_txed">

        <button class="button button-small icon ion-ios-heart-outline heart"></button>-->

        <div class="row">

        	<div class="col">

        	<h2>{{one.name}}</h2>

            </div>

            

            </div>

        </div>

        </div>

      </div>

    </div>



        <div class="button-bar">

          <a class="button icon-left button-stable buttonfav">Allergens : <span style="color:#fff;font-size: 14px;">{{alergy}}</span></a>

          <!--<a class="button icon-left ion-bag button-assertive buttonfav">ADD TO CART</a>-->

        </div>

        

        

        

    <div class="padding">

    

    	<div class="commentssec">

        

            

            <div class="list_borr ">



  <!--  <a class="item  comment_list item-avatar" href="#">

      <img src="img/user1.jpg">-->

      <div class="com_list">

      

         
<span style="width: 100%;float: left;line-height: 26px;border-bottom: 1px solid #ccc;font-size: 16px;margin-bottom: 2%;padding-bottom: 1%;color: #292929;font-weight: 600;">Description : -</span>
          <p style="line-height: 27px; color: #333;">{{one.desc}} </p>

      </div>

    </a>







</div>
        </div>
        
    </div>

      

      

    </ion-content>

    

    

<!--div class="bar bar-footer">

<a ui-sref="menu.nearestRestaurants" class="title">Done</a>

</div-->

    
  </ion-content>
</ion-view>


    

