<ion-view id="page4" title="Payment">

  <ion-content class="manual-ios-statusbar-padding has-header" padding="true">

       <div class="payment_outer"><img width="30%" src="img/logo3.png" /></div>

<div class="oi">

        <div class="list card " style="background:none; box-shadow:none;">

  <div class="item item-body" style="background:none;">

<ion-list style="background:none;">

<ion-radio class="crd_list" ng-model="choice" ng-value="'A'"><i class="ion-card .icon_new" style="padding-right:20px;"></i>Credit Card/Debit card</ion-radio>


</ion-list>

</div>

</div>
<div class="custom_padding"> <a class="button button_purpel  button-block" style="border-radius:0px 0px 0px 0px;" id="createProfile-button2" ng-click="make_payment()">NEXT</a> </div>
</div>
</div>
</ion-content>
</ion-view>