<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Privecy Policy</h1>
      <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content padding="true">
        <div class="padding">
            <h4>Title Here</h4>
        <p>
            The way we showed in last example is when script tag is used as a container to our modal inside some existing HTML file. 
            The second way is to create new template file inside templates folder. We will use the same code as in our last example 
            but we will remove script tags and we also need to change fromTemplateUrl in 
            controller to connect modal with new created template.
        </p>
        <p>
            The way we showed in last example is when script tag is used as a container to our modal inside some existing HTML file. 
            The second way is to create new template file inside templates folder. We will use the same code as in our last example 
            but we will remove script tags and we also need to change fromTemplateUrl in 
            controller to connect modal with new created template.
        </p>
        
        </div>
    </ion-content>
  </ion-modal-view>